body {
	font-size: 100%
}

nav {
	width: 20%;
	float: left;
	padding: 0 .25em;
	background-color: #59CD90;

}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

h2 {
	margin: 0;
	margin-bottom: 1em;

}

#mainColumn {
	margin: 0 auto;
	width: 90%;
	background-color: #F9627D

}

#content {
	float: left;
	width: 75%;
	padding: 0 1em;
	background-color: #3FA7D6


}
#content figure {
	float: right;
	margin: 0 1em;
	background-color:#F79D84;

}
